.box1{
    width: 200px;
    height: 200px;
    background-color: bisque;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(127, 255, 157);
}